
body {
    background-color: blue;

  }
  h1 {
    color:yellow;
    font-size: 50px;
  }
.navbar {
    background-color: red;
}
  .jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(enterprise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  h2 {
      color:white;
      font-size: 30px;
  }