
body {
    background-color:darkblue;

  }
  h1 {
    color:yellow;
    font-size: 50px;
  }
.navbar {
    background-color: red;
}
  .jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(enterprise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color: white;
    text-shadow: 2px 2px 3px black;
  }
  h2, h5 {
      color:white;
      font-size: 30px;

  }
  p {
    color:white;
    font-size: 15px;
}